* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: talento;
}
html,
body,
#root {
  height: 100%;
}
hr {
  border: 0 solid #e5e7eb !important;
      border-top-width: 1px !important;
}
@font-face {
  font-family: talento;
  src: url("./assets/talentotech-font.woff2");
}
